*

!.gitignore
!.dockerignore

!examples
!examples/**/
!examples/**/*

!packages/
!packages/**/
!packages/**/*

!.editorconfig
!.eslintrc.yml
!.gitattributes
!.prettierrc.yml
!changelog.config.cjs
!eslint.config.mjs

!docker-ping-example.sh

!package.json
!pnpm-lock.yaml
!pnpm-workspace.yaml

!nodemon.json
!tsconfig.json
!tsconfig.*.json

!README.md
