*

!.gitignore

!configs/
!configs/*.yml

!src/
!src/**/
!src/**/*

!templates/
!templates/**/
!templates/**/*

!.eslintrc.yml
!package.json
!tsconfig.json
!tsconfig.node.json
!tsup.config.ts

!README.md

!colore.ts
!config.json
